.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    display: none;
}